@model MineSweeper.Models.GameViewModel

@{
    int row = (int)ViewData["Row"];
    int col = (int)ViewData["Col"];
    var cell = Model.Game.GetBoardState().Cells[row, col];
}

<div class="cell" id="cell-@row-@col" data-row="@row" data-col="@col">
    @if (cell.IsVisited)
    {
        if (cell.IsBomb)
        {
            <img src="~/assets/images/Skull.png" />
        }
        else if (cell.NumBombNeighbors > 0)
        {
            <img src="~/assets/images/Number @(cell.NumBombNeighbors).png" />
        }
        else if (cell.IsSpecial)
        {
            <img src="~/assets/images/Gold.png" />
        }
        else
        {
            <img src="~/assets/images/Tile Flat.png" />
        }
    }
    else if (cell.IsFlagged)
    {
        <img src="~/assets/images/flag.png" />
    }
    else
    {
        <!-- Use a class for left-click moves -->
        <form asp-action="PlayMovePartial" method="post" class="play-move-form" style="display:inline;">
            <input type="hidden" name="row" value="@row" />
            <input type="hidden" name="col" value="@col" />
            <input type="hidden" name="difficulty" value="@Model.Game.GetDifficulty()" />
            <button type="submit" style="border: none; background: none; padding: 0;">
                <img src="~/assets/images/Tile @(new Random().Next(1,3)).png" />
            </button>
        </form>
    }
</div>
